/* подключаем шрифты */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Sans&display=swap');

body {    
    font-family: 'PT Sans', sans-serif;
}
section {
    padding-top: 138px;
    padding-bottom: 143px;
}
.container {
    text-align: center;
    width: 970px;
    margin: 0 auto;
}
.p-1 {
    color: #898f99;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #0ec8cb;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.p-2 {
    color: #999999;
    font-size: 18px;
    width: 510px; 
    margin: 0 auto;
    margin-bottom: 110px;
    text-transform: uppercase;
}
.box {
    display: flex;
}
.box-m {
    flex-grow: 1;
    width: 25%;
    background-color: #f7f7f7;
    border: 1px solid #ececec;
    padding: 55px 30px 85px;
}
.img-all {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.img-1 {
    width: 67px;
    height: 68px;
    margin: 0 auto;
    background-image: url(./icon/1.svg);
}
.img-2 {
    width: 64px;
    height: 64px;
    background-image: url(./icon/2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.img-3 {
    width: 64px;
    height: 49px;
    background-image: url(./icon/3.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.img-4 {
    width: 64px;
    height: 52px;
    background-image: url(./icon/4.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.title {
    margin-top: 55px;
    color: 212121;
    font-size: 21px;
    text-transform: uppercase; /* весь шрифт с большой буквы */
}
.text {
    color: #777777;
    font-size: 14px;
    margin-top: 33px;
}

.box-m:hover  {
    background-color: #0ec8cb;
}
.box-m:hover div {
    color: white;
}
.box-m-1:hover .img-all{
    width: 68px;
    height: 69px;
    background-image: url(./icon/1-2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.box-m-2:hover .img-all{
    width: 64px;
    height: 64px;
    background-image: url(./icon/2-2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.box-m-3:hover .img-all{
    width: 64px;
    height: 49px;
    background-image: url(./icon/3-2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.box-m-4:hover .img-all{
    width: 64px;
    height: 52px;
    background-image: url(./icon/4-2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
